@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>yeni başlık ekleme</h2>
<br />
@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("başlık adı")
        @Html.TextBoxFor(x=>x.HeadingName,new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName)
        <br /><br />
        @Html.Label("kategori")
        @Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryID)
        <br /><br />
        @Html.Label("yazar ")
        @Html.TextBoxFor(x => x.WriterID, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterID)
        <br /><br />
       
        <button class="btn btn-danger">başlığı ekle</button>
    </div>
}

